.about-me .content .image {
    width: 50%;
    border: 1px solid black;
    border-radius: 50px;
}

.about-me .content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-me .content .heading-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.about-me .content .heading-content .paragraph p {
    text-align: justify;
    color: #000;
}

/* Responsive Media Queries */

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {


}

/* md */
@media (max-width: 768px) {
 .about-me .content {
    flex-direction: column-reverse;
 }
 .about-me .content .image {
    width: 100%;
 }
}

/* sm */
@media (max-width: 640px) {
  
}

/* xs */
@media (max-width: 475px) {
}